.panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 24px 24px 16px;
}
.panel-header__icon {
  width: 32px;
  height: 32px;
  padding: 8px;
}

.panel-header__title {
  flex: 1;
  text-align: left;
  margin-left: 10px;
  font-size: 20px;
}